<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhaoxiao.zxspringboot.dao.NovelTitleDao">
    <resultMap type="com.zhaoxiao.zxspringboot.bean.NovelTitle" id="NovelTitleResult">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="introduce" column="introduce" jdbcType="VARCHAR"/>
        <result property="author" column="author" jdbcType="VARCHAR"/>
        <result property="noveltypeId" column="noveltypeId" jdbcType="BIGINT"/>
        <result property="tags" column="tags" jdbcType="VARCHAR"/>
        <result property="collectionNum" column="collectionNum" jdbcType="VARCHAR"/>
        <result property="score" column="score" jdbcType="BIGINT"/>
        <result property="downUrl" column="downUrl" jdbcType="VARCHAR"/>
        <result property="imgUrl" column="imgUrl" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAllNovel" resultMap="NovelTitleResult">
        select id,title,introduce,author from novel_title
        order by id desc
    </select>

</mapper>